/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Mulish&family=Nunito+Sans:wght@400;600;700&display=swap");
/* Import */
body {
  font-family: "Montserrat";
  font-size: "16";
  font-weight: "400";
  color: rgb(73, 66, 61);
}

body, h1, h2, h3, h4, h5, h6, ul, li, a, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  font-family: inherit;
  cursor: pointer;
}

input {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.container {
  position: relative;
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.header {
  position: relative;
  z-index: 10;
  -webkit-box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
}

.nav-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}
.nav-block .block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.nav-block .block1 > *:not(:last-child) {
  margin: 0 35px 0 0;
}
.nav-block .block1 .hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.nav-block .block1 .hamburger > *:not(:last-child) {
  margin: 0 0 5px 0;
}
.nav-block .block1 .hamburger .line {
  width: 18px;
  height: 2px;
  background: #8db338;
}
.nav-block .block1 .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-block .block1 .language-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-block .block1 .language-block .language {
  font-weight: 500;
  font-size: 12px;
  width: 27px;
  height: 27px;
  text-transform: uppercase;
}
.nav-block .block1 .language-block > *:first-child {
  font-weight: 700;
  color: #fff;
  background: #8db338;
  margin: 0 4px 0 0;
}
.nav-block .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-block .block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.nav-block .block2 > *:not(:last-child) {
  margin: 0 40px 0 0;
}
.nav-block .block2 .buttons-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-block .block2 .buttons-block > *:not(:last-child) {
  margin: 0 35px 0 0;
}
.nav-block .block2 .buttons-block .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-block .block2 .contact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.nav-block .block2 .contact-block .telephone {
  font-weight: 700;
  font-size: 20px;
  margin: 0 0 4px 0;
}
.nav-block .block2 .contact-block .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 12px;
  color: #8db338;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* Common */
.title {
  font-weight: 700;
  font-size: 40px;
  color: #49423d;
  margin: 0 0 60px 0;
}

::-webkit-input-placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #909090;
}

::-moz-placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #909090;
}

:-ms-input-placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #909090;
}

::-ms-input-placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #909090;
}

::placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #909090;
}

/* Sections */
/* hero */
.hero {
  position: relative;
  background: #1c1c1c;
}
.hero .background {
  position: absolute;
  z-index: -1;
  right: 0;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1145px;
  height: 630px;
}
.hero .background .gradient {
  position: absolute;
  width: 500px;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(28, 28, 28, 0)), to(#1c1c1c));
  background: linear-gradient(-90deg, rgba(28, 28, 28, 0), #1c1c1c);
}
.hero .background .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-block {
  position: relative;
  height: 820px;
}
.hero-block .title-block {
  position: relative;
  z-index: 1;
  max-width: 517px;
  padding: 130px 0 0 0;
  color: #fff;
}
.hero-block .title-block > *:not(:last-child) {
  margin: 0 0 20px 0;
}
.hero-block .title-block .main-title {
  font-weight: 800;
  font-size: 72px;
  color: inherit;
}
.hero-block .title-block .main-subtitle {
  font-weight: 500;
  font-size: 24px;
  color: inherit;
}
.hero-block .button {
  font-weight: 500;
  width: 190px;
  height: 50px;
  color: #49423d;
  background: #f5f5f6;
  font-size: 16px;
}
.hero-block .button:first-child {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background: #8DB338;
}

.calculation {
  position: absolute;
  width: 100%;
  bottom: 40px;
  background: #fff;
  -webkit-box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
  padding: 30px;
  margin: 0 -30px;
}

.buttons-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 50px 0;
}
.buttons-block .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.buttons-block .buttons > *:not(:last-child) {
  margin: 0 30px 0 0;
}
.buttons-block .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.buttons-block .search .search-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 12px 0 0;
}
.buttons-block .search .search-name {
  font-size: 14px;
  font-weight: 500;
}

.calculation-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 105px;
}
.calculation-block > *:not(:last-child) {
  margin: 0 30px 0 0;
}
.calculation-block .item .name {
  font-weight: 600;
  font-size: 14px;
  color: #49423d;
  margin: 0 0 12px 0;
}
.calculation-block .item .select-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 190px;
  height: 40px;
  padding: 8px 8px 8px 16px;
  background: #f5f5f6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.calculation-block .item .select-wrapper .select {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
}
.calculation-block .item .panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  height: 40px;
  padding: 8px 16px;
  background: #f5f5f6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 19px 0;
}
.calculation-block .item .panel .value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #909090;
}
.calculation-block .item .panel .value_color {
  display: block;
  margin: 0 0 0 8px;
  color: #49423d;
}
.calculation-block .item .slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12px;
}
.calculation-block .item .slider .range {
  position: relative;
  -webkit-appearance: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
.calculation-block .item .slider .range::-webkit-slider-thumb {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background: #8DB338;
}
.calculation-block .item .slider .range::-webkit-slider-runnable-track {
  height: 2px;
  background: #8DB338;
}
.calculation-block .item .slider .range2 {
  position: absolute;
}
.calculation-block .button-block .text {
  font-weight: 600;
  font-size: 14px;
  color: #49423d;
  margin: 0 0 12px 0;
  opacity: 0;
  cursor: default;
}
.calculation-block .button-block .button {
  height: 40px;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  background: #8DB338;
}

/* building types */
.building-types .types {
  padding: 80px 0 70px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.building-types .cards-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
.building-types .cards-block .card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 312px;
  position: relative;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.building-types .cards-block .card .cover {
  position: absolute;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.building-types .cards-block .card .cover .count {
  font-family: "Nunito Sans";
  font-weight: 600;
  width: 60px;
  padding: 4px 12px;
  background: #8DB338;
  color: #fff;
  font-size: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.building-types .cards-block .card .cover .name {
  font-weight: 700;
  font-size: 20px;
  color: #49423d;
}
.building-types .cards-block .card .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Technologies */
.technologies-block {
  padding: 80px 0 70px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.technologies-block .cards-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
.technologies-block .cards-block .card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  position: relative;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 30px 0;
}
.technologies-block .cards-block .card .card-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.technologies-block .cards-block .card .card-link .name {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0 0 0 20px;
  font-weight: 600;
  font-size: 20px;
  color: #49423d;
}
.technologies-block .cards-block .card .card-link .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Links */
.links-block {
  padding: 80px 0 70px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.links-block .cards-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
.links-block .cards-block .card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.links-block .cards-block .card .image-block {
  width: 100%;
  height: 150px;
}
.links-block .cards-block .card .image-block .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.links-block .cards-block .card .card-links-block {
  padding: 30px 20px;
  height: 360px;
  border: 2px solid #f5f5f6;
  border-top: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.links-block .cards-block .card .card-links-block .card-title {
  font-weight: 600;
  font-size: 16px;
  margin: 0 0 16px 0;
}
.links-block .cards-block .card .card-links-block .card-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.links-block .cards-block .card .card-links-block .card-links > *:not(:last-child) {
  margin: 0 0 12px 0;
}
.links-block .cards-block .card .card-links-block .card-links .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-decoration: underline;
}
.links-block .cards-block .card .card-links-block .card-links .link:hover {
  color: #8DB338;
}

/* Bestsellers */
.bestsellers-block {
  padding: 80px 0 70px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.bestsellers-block .title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bestsellers-block .title-block .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 49px;
  font-weight: 600;
  font-size: 20px;
  color: #8DB338;
}

.gallery {
  position: relative;
}
.gallery .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  margin-bottom: 40px;
}
.gallery .carousel .item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.gallery .carousel .item .item-image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.gallery .carousel .item .item-image .item__cover {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.gallery .carousel .item .item-image .item__cover .item_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  padding: 6px;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.gallery .carousel .item:hover .item__cover {
  opacity: 1;
}
.gallery .carousel .item .text-block {
  border: 2px solid #f5f5f6;
  border-top: none;
  padding: 30px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.gallery .carousel .item .text-block .item__title {
  display: block;
  font-weight: 600;
  font-size: 16px;
  margin: 0 0 20px 0;
}
.gallery .carousel .item .text-block .item__text-block {
  margin: 0 0 20px 0;
}
.gallery .carousel .item .text-block .item__text-block > *:not(:last-child) {
  margin: 0 0 8px 0;
}
.gallery .carousel .item .text-block .item__text-block .item__text {
  font-weight: 400;
  font-size: 14px;
  color: #909090;
}
.gallery .carousel .item .text-block .price {
  color: #8DB338;
  font-weight: 700;
  font-size: 20px;
}
.gallery .current-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gallery .current-image > *:not(:last-child) {
  margin: 0 20px 0 0;
}
.gallery .current-image .mark {
  display: block;
  width: 20px;
  height: 20px;
  background: #f5f5f6;
}
.gallery .current-image .active {
  background: #8DB338;
}
.gallery .gallery-buttons {
  position: absolute;
  top: 204.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.gallery .gallery-buttons > *:first-child {
  left: -70px;
}
.gallery .gallery-buttons > *:last-child {
  right: -70px;
}
.gallery .gallery-buttons .gallery-button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gallery .gallery-buttons .gallery-button .icon_left {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
/* benefits */
.benefits {
  position: relative;
  height: 796px;
  padding: 106px 0 0 0;
}
.benefits .background {
  position: absolute;
  bottom: 0;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 796px;
}
.benefits .background .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.benefits-block {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.benefits-block .cards-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.benefits-block .cards-block .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 36px 40px 0;
}
.benefits-block .cards-block .card > *:not(:last-child) {
  margin: 0 24px 0 0;
}
.benefits-block .cards-block .card .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 80px;
  font-weight: 700;
  font-size: 64px;
  padding: 1px 27px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  background: #8DB338;
}
.benefits-block .cards-block .card .card_text-block .card__title {
  font-weight: 600;
  font-size: 20px;
  color: #49423d;
  margin: 0 0 4px 0;
}
.benefits-block .cards-block .card .card_text-block .card__text {
  width: 300px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #49423d;
}

.log-block {
  position: absolute;
  top: 109px;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}
.log-block .image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.log-block .image-block .logo {
  position: absolute;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 40px;
  color: #49423d;
}
/* Form */
.form {
  background: linear-gradient(102deg, #8DB338, #739A1D);
}

.form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 110px 80px;
}
.form-block > *:not(:last-child) {
  margin: 0 141px 0 0;
}
.form-block .form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  padding: 30px;
}
.form-block .form-wrapper > *:not(:last-child) {
  margin: 0 0 20px 0;
}
.form-block .form-wrapper .form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  padding: 9px 16px;
  height: 40px;
  border: none;
  outline: none;
  background: #f5f5f6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #49423d;
}
.form-block .form-wrapper .textarea {
  min-width: 350px;
  max-width: 350px;
  min-height: 120px;
  max-height: 120px;
}
.form-block .form-wrapper .button-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 168px;
  height: 24px;
}
.form-block .form-wrapper .button-add .icon-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 8px 0 0;
}
.form-block .form-wrapper .button-add .button__text {
  font-weight: 400;
  font-size: 14px;
  color: #49423d;
}
.form-block .form-wrapper .button-send {
  width: 100%;
  height: 40px;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  background: #8DB338;
}
.form-block .form-wrapper .media-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form-block .form-wrapper .media-block > *:not(:last-child) {
  margin: 0 30px 0 0;
}
.form-block .form-wrapper .media-block .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form-block .text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}
.form-block .text-block > *:not(:last-child) {
  margin: 0 0 20px 0;
}
.form-block .text-block .title, .form-block .text-block .subtitle {
  color: inherit;
}
.form-block .text-block .subtitle {
  font-weight: 400;
  font-size: 20px;
  color: #f5f5f6;
  line-height: 32px;
}

/* Service */
.service-block {
  padding: 150px 0 70px 0;
}
.service-block .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.service-block .block .text-block {
  max-width: 590px;
  margin: 0 70px 0 0;
}
.service-block .block .text-block .text {
  font-weight: 400;
  font-size: 16px;
  color: #49423d;
  line-height: 28px;
}
.service-block .block .text-block .text:not(:last-child) {
  margin: 0 0 15px 0;
}
.service-block .block .text-block .text__bold {
  font-weight: 600;
}
.service-block .block .text-block .button {
  width: 300px;
  height: 40px;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  background: #8DB338;
  margin: 40px 0 0 0;
}
.service-block .block .image-block {
  width: 630px;
  height: 630px;
}
.service-block .block .image-block .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Partners */
.partners-block {
  padding: 80px 0 70px 0;
}
.partners-block .block > *:not(:last-child) {
  margin: 0 0 60px 0;
}
.partners-block .block .partner-block .title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 30px 0;
}
.partners-block .block .partner-block .title-block .subtitle__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: 500;
  font-size: 14px;
  color: #8DB338;
}
.partners-block .block .partner-block .cards-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}
.partners-block .block .partner-block .cards-block .card-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.partners-block .block .partner-block .cards-block .card-wrapper .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background: #f5f5f6;
}
.partners-block .block .partner-block .cards-block .card-wrapper .card .card__text {
  margin: 0 55px 0 0;
}
.partners-block .block .partner-block .cards-block .card-wrapper .card .card__text > *:not(:last-child) {
  margin: 0 0 8px 0;
}
.partners-block .block .partner-block .cards-block .card-wrapper .card .card__text .card__title, .partners-block .block .partner-block .cards-block .card-wrapper .card .card__text .card__subtitle {
  color: #575757;
}
.partners-block .block .partner-block .cards-block .card-wrapper .card .card__text .card__title {
  font-weight: 600;
  font-size: 18px;
}
.partners-block .block .partner-block .cards-block .card-wrapper .card .card__text .card__subtitle {
  font-weight: 400;
  font-size: 14px;
}
.partners-block .button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 60px 0 0 0;
}
.partners-block .button-block .button {
  width: 300px;
  height: 40px;
  font-weight: 700;
  font-size: 14;
  color: #fff;
  background: #8DB338;
}

/* Shop */
.shop-block {
  padding: 80px 0 40px 0;
}
.shop-block .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
.shop-block .block > *:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}
.shop-block .block > *:nth-child(2), .shop-block .block :nth-child(3), .shop-block .block :nth-child(4), .shop-block .block :nth-child(5), .shop-block .block :nth-child(6), .shop-block .block :nth-child(7) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}
.shop-block .block > *:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}
.shop-block .block .item-wrapper {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 30px 0;
}
.shop-block .block .item-wrapper .item {
  position: relative;
}
.shop-block .block .item-wrapper .item .image-block {
  width: 100%;
  height: 340px;
}
.shop-block .block .item-wrapper .item .image-block .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.shop-block .block .item-wrapper .item .item__name {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 56px;
  padding: 20px;
  font-weight: 700;
  font-size: 20px;
  color: #494949;
}

/* Blog */
.blog-block {
  padding: 80px 0 70px 0;
}
.blog-block .title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 60px 0;
}
.blog-block .title-block .title {
  margin: 0;
}
.blog-block .title-block .all__blogs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 49px;
  font-weight: 600;
  font-size: 20px;
  color: #8db338;
}
.blog-block .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
.blog-block .block .item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.blog-block .block .item .item__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 234px;
  height: 234px;
}
.blog-block .block .item .item__image .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-block .block .item .item__text-block {
  height: 100%;
  padding: 30px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #f5f5f6;
  border-top: none;
}
.blog-block .block .item .item__text-block .title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 48px;
  margin: 0 0 8px 0;
}
.blog-block .block .item .item__text-block .item__title {
  font-weight: 600;
  font-size: 16px;
  color: #49423d;
}
.blog-block .block .item .item__text-block .item__subtitle {
  font-weight: 400;
  font-size: 14px;
  color: #909090;
}

/* Reviews */
.reviews-block {
  padding: 80px 0 70px 0;
}
.reviews-block .title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 60px 0;
}
.reviews-block .title-block .title {
  margin: 0;
}
.reviews-block .title-block .all__reviews {
  font-weight: 600;
  font-size: 20px;
  color: #8db338;
}
.reviews-block .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
.reviews-block .block .item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.reviews-block .block .item .item__image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 360px;
}
.reviews-block .block .item .item__image .cover {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.reviews-block .block .item .item__image .cover .button-play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 80px;
  background: #8db338;
}
.reviews-block .block .item .item__image .cover .button-play .icon {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
}
.reviews-block .block .item .item__image .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.reviews-block .block .item:hover .cover {
  opacity: 1;
}
.reviews-block .block .item .item__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 20px;
  border: 1px solid #f5f5f6;
  border-top: none;
}
.reviews-block .block .item .item__text-block .title-block {
  margin: 0 0 8px 0;
}
.reviews-block .block .item .item__text-block .title-block .item__title {
  font-weight: 600;
  font-size: 16px;
  color: #49423d;
}
.reviews-block .block .item .item__text-block .item__subtitle {
  font-weight: 400;
  font-size: 14px;
  color: #909090;
}

/* Questions */
.questions-block {
  padding: 80px 0 80px 0;
}
.questions-block .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.questions-block .block .items-block {
  width: 770px;
  margin: 0 110px 0 0;
}
.questions-block .block .items-block > *:not(:last-child) {
  margin: 0 0 30px 0;
}
.questions-block .block .items-block .item .item__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f5f5f6;
}
.questions-block .block .items-block .item .item__button .item__name {
  font-weight: 600;
  font-size: 18px;
  color: #49423d;
}
.questions-block .block .items-block .item .item__button .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
}
.questions-block .block .items-block .item .item__button .button .icon {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.questions-block .block .items-block .item .item__button .active {
  color: #8db338;
}
.questions-block .block .items-block .item .item__content {
  border: 1px solid #f5f5f6;
  border-top: none;
}
.questions-block .block .items-block .item .item__content .content__wrapper {
  height: 440px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.questions-block .block .items-block .item .item__content .content__wrapper .content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.questions-block .block .items-block .item .item__content .content__wrapper .content .cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.questions-block .block .items-block .item .item__content .content__wrapper .content .cover .play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 80px;
  background: #8db338;
}
.questions-block .block .items-block .item .item__content .content__wrapper .content .cover .play .icon {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
}
.questions-block .block .items-block .item .item__content .content__wrapper .content:hover .cover {
  opacity: 1;
}
.questions-block .block .items-block .item .item__content .content__wrapper .content .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.questions-block .block .form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}
.questions-block .block .form-block .form__text-block {
  width: 100%;
  margin: 0 0 46px 0;
}
.questions-block .block .form-block .form__text-block .form__title {
  font-weight: 600;
  font-size: 24px;
  color: #49423d;
  margin: 0 0 12px 0;
}
.questions-block .block .form-block .form__text-block .form__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #494949;
}
.questions-block .block .form-block .form-wrapper {
  background: #f5f5f6;
}
.questions-block .block .form-block .form-wrapper .form__input {
  background: #fff;
}
.footer {
  background: #1c1c1c;
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0 60px 0;
}
.footer-block .links-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0 0 80px 0;
}
.footer-block .links-block .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f5f5f6;
}
.footer-block .links-block .block:nth-child(1) {
  margin: 0 88px 0 0;
}
.footer-block .links-block .block:nth-child(2) {
  margin: 0 87px 0 0;
}
.footer-block .links-block .block:nth-child(3) {
  margin: 0 132px 0 0;
}
.footer-block .links-block .block:nth-child(4) {
  margin: 0 84px 0 0;
}
.footer-block .links-block .block:nth-child(5) {
  margin: 0 40px 0 0;
}
.footer-block .links-block .block .logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 40px 0;
}
.footer-block .links-block .block .text {
  font-weight: 300;
  font-size: 12px;
  color: inherit;
  line-height: 20px;
}
.footer-block .links-block .block .text:not(:last-child) {
  margin: 0 0 16px 0;
}
.footer-block .links-block .block .block__title {
  font-weight: 600;
  font-size: 16px;
  color: #8db338;
  line-height: 24px;
  margin: 0 0 20px 0;
}
.footer-block .links-block .block .block__title:nth-child(2) {
  margin: 0 0 30px 0;
}
.footer-block .links-block .block .block__title_fe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer-block .links-block .block .text_link {
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.footer-block .links-block .block .text_link:hover {
  color: #8db338;
}
.footer-block .links-block .block .text_link:not(:last-child) {
  margin: 0 0 20px 0;
}
.footer-block .links-block .block .contact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 0 30px 0;
}
.footer-block .links-block .block .contact-block .telephone {
  font-weight: 700;
  font-size: 20px;
  margin: 0 0 4px 0;
}
.footer-block .links-block .block .contact-block .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 12px;
  color: #8db338;
}
.footer-block .links-block .block .text_mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 30px 0;
}
.footer-block .links-block .block .block__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.footer-block .media-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 20px 0;
}
.footer-block .media-block .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  height: 25px;
}
.footer-block .media-block .social:not(:last-child) {
  margin: 0 30px 0 0;
}
.footer-block .footer__text-block > *:not(:last-child) {
  margin: 0 0 8px 0;
}
.footer-block .footer__text-block .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 12px;
  color: #606060;
}

.menu-wrapper {
  display: none;
  position: absolute;
  top: 80px;
  width: 100%;
  z-index: 9;
  background: #fff;
}
.menu-wrapper .menu-block {
  min-height: 820px;
  padding: 40px 0;
}
.menu-wrapper .menu-block .buttons-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.menu-wrapper .menu-block .buttons-block .menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 48px;
  font-weight: 600;
  font-size: 16px;
  color: #909090;
  background: #f5f5f6;
}
.menu-wrapper .menu-block .buttons-block .menu__button:first-child {
  background: #8DB338;
  color: #fff;
}
.menu-wrapper .menu-block .column-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 30px 0.5fr;
  grid-template-rows: 1fr 0.5fr;
  gap: 30px;
}
.menu-wrapper .menu-block .column-wrapper > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.menu-wrapper .menu-block .column-wrapper > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.menu-wrapper .menu-block .column-wrapper > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.menu-wrapper .menu-block .column-wrapper > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.menu-wrapper .menu-block .column-wrapper > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.menu-wrapper .menu-block .column-wrapper > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.menu-wrapper .menu-block .column-wrapper .column-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 30px 0;
}
.menu-wrapper .menu-block .column-wrapper .column-block .main__link {
  font-weight: 600;
  font-size: 20px;
  color: #8DB338;
  line-height: 28px;
  margin: 0 0 24px 0;
}
.menu-wrapper .menu-block .column-wrapper .column-block .inner-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu-wrapper .menu-block .column-wrapper .column-block .inner-column .column__title {
  line-height: 28px;
  margin: 0 0 24px 0;
  color: #8DB338;
}
.menu-wrapper .menu-block .column-wrapper .column-block .inner-column .column__link {
  line-height: 24px;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.menu-wrapper .menu-block .column-wrapper .column-block .inner-column .column__link:hover {
  color: #8DB338;
}
.menu-wrapper .menu-block .column-wrapper .column-block .inner-column .column__link:not(:last-child) {
  margin: 0 0 12px 0;
}

/* Product */
.product-block {
  padding: 40px 0 70px 0;
}
.product-block .map-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 16px 0;
}
.product-block .map-block .map__link {
  font-weight: 500;
  font-size: 14px;
  color: #49423D;
}
.product-block .map-block .map__link:not(:last-child) {
  margin: 0 12px 0 0;
}
.product-block .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.product-block .block .item__buttons-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product-block .block .item__buttons-block .item__btn-block {
  position: relative;
}
.product-block .block .item__buttons-block .item__btn-block .border {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 4px;
  background: #8DB338;
  opacity: 0;
}
.product-block .block .item__buttons-block .item__btn-block .item__button {
  width: 205px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  color: #49423D;
}
.product-block .block .item__buttons-block .active .item__button {
  font-weight: 700;
  background: #f5f5f6;
}
.product-block .block .item__buttons-block .active .border {
  opacity: 1;
}
.product-block .block .item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product-block .block .item__content .item-block:not(:last-child) {
  margin: 0 70px 0 0;
}
.product-block .block .item__content .item-block .image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 770px;
  height: 420px;
  padding: 20px;
  background: #f5f5f6;
  margin: 0 0 40px 0;
}
.product-block .block .item__content .item-block .image-block .image {
  width: 100%;
  height: 100%;
}
.product-block .block .item__content .item-block .item__gallery-block {
  position: relative;
}
.product-block .block .item__content .item-block .item__gallery-block .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 75px;
}
.product-block .block .item__content .item-block .item__gallery-block .carousel > *:not(:last-child) {
  margin: 0 30px 0 0;
}
.product-block .block .item__content .item-block .item__gallery-block .carousel .carousel__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 120px;
}
.product-block .block .item__content .item-block .item__gallery-block .carousel .carousel__image .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-block .block .item__content .item-block .item__gallery-block .buttons-block {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}
.product-block .block .item__content .item-block .item__gallery-block .buttons-block .gallery__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product-block .block .item__content .item-block .item__gallery-block .buttons-block .gallery__button .prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.product-block .block .item__content .description-block {
  width: 100%;
}
.product-block .block .item__content .description-block .top-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 40px 0;
}
.product-block .block .item__content .description-block .top-block .value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 50px 0 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #909090;
}
.product-block .block .item__content .description-block .top-block .links-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
.product-block .block .item__content .description-block .top-block .links-block > *:not(:last-child) {
  margin: 0 30px 0 0;
}
.product-block .block .item__content .description-block .top-block .links-block .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-block .block .item__content .description-block .feature {
  margin: 0 0 30px 0;
}
.product-block .block .item__content .description-block .feature .name {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #49423D;
  margin: 0 0 30px 0;
}
.product-block .block .item__content .description-block .feature .feature-block .feature-box .text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product-block .block .item__content .description-block .feature .feature-block .feature-box .text-block:not(:last-child) {
  margin: 0 0 16px 0;
}
.product-block .block .item__content .description-block .feature .feature-block .feature-box .text-block .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  color: #909090;
  line-height: 24px;
}
.product-block .block .item__content .description-block .feature .feature-block .feature-box .text-block .text_green {
  width: 190px;
  color: #8DB338;
}
.product-block .block .item__content .description-block .price {
  font-weight: 700;
  font-size: 30px;
  color: #8DB338;
  margin: 0 0 40px 0;
}
.product-block .block .item__content .description-block .description-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background: #8DB338;
}

/* Additional-info */
.description .description-block {
  padding: 80px 0 70px 0;
}
.description .description-block .block .description__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -35px;
  margin-bottom: 80px;
}
.description .description-block .block .description__text-block .text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
.description .description-block .block .description__text-block .text_bold {
  font-weight: 600;
}
.description .description-block .block .info-block {
  margin: 0 0 80px 0;
}
.description .description-block .block .info-block .subtitle {
  font-weight: 700;
  font-size: 24px;
  color: #49423D;
  line-height: 33px;
  margin: 0 0 40px 0;
}
.description .description-block .block .info-block .content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -35px;
}
.description .description-block .block .info-block .content-block .inner-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.description .description-block .block .info-block .content-block .inner-content > *:not(:last-child) {
  margin: 0 0 20px 0;
}
.description .description-block .block .info-block .content-block .inner-content .text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.description .description-block .block .info-block .content-block .inner-content .text-block .inner-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: block;
}
.description .description-block .block .additional-info .subtitle {
  font-weight: 700;
  font-size: 24px;
  color: #49423D;
  line-height: 33px;
  margin: 0 0 40px 0;
}
.description .description-block .block .additional-info .additional-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.description .description-block .block .additional-info .additional-content .row-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.description .description-block .block .additional-info .additional-content .row-block > *:not(:last-child) {
  margin: 0 0 20px 0;
}
.description .description-block .block .additional-info .additional-content .row-block .item .item__top-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.description .description-block .block .additional-info .additional-content .row-block .item .item__top-block .item__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 16px 0 0;
}
.description .description-block .block .additional-info .additional-content .row-block .item .item__top-block .item__name {
  color: #49423D;
  font-size: 18px;
  line-height: 26px;
}
.description .description-block .block .additional-info .additional-content .row-block .item .item__text {
  display: block;
  margin-left: 40px;
  line-height: 26px;
  font-weight: 400;
  color: #909090;
}

/* Kit */
.kit .kit-block {
  padding: 80px 0 70px 0;
}
.kit .kit-block .title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 60px 0;
}
.kit .kit-block .title-block .title {
  margin: 0 30px 0 0;
}
.kit .kit-block .title-block .chevron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.kit .kit-block .title-block .chevron .icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.kit .kit-block .block .kit__buttons-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.kit .kit-block .block .kit__buttons-block .kit__btn-block {
  position: relative;
}
.kit .kit-block .block .kit__buttons-block .kit__btn-block .border {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 4px;
  background: #8DB338;
  opacity: 0;
}
.kit .kit-block .block .kit__buttons-block .kit__btn-block .item__button {
  width: 205px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  color: #49423D;
}
.kit .kit-block .block .kit__buttons-block .active .item__button {
  font-weight: 700;
  background: #f5f5f6;
}
.kit .kit-block .block .kit__buttons-block .active .border {
  opacity: 1;
}
.kit .kit-block .block .tab-content .tab__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 330px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f5f5f6;
}
.kit .kit-block .block .tab-content .tab__text-block > *:not(:last-child) {
  margin: 0 0 30px 0;
}
.kit .kit-block .block .tab-content .tab__text-block .tab__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #49423D;
}
.kit .kit-block .block .tab-content .tab__text-block .tab__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #49423D;
}
.kit .kit-block .block .tab-content .tab__text-block .tab__price {
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  color: #8DB338;
}