body {
    font-family: 'Montserrat';
    font-size: '16';
    font-weight: '400';
    color: rgba(73, 66, 61, 1);
}

body, h1, h2, h3, h4, h5, h6, ul, li, a, p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    font-family: inherit;
    cursor: pointer;
}