.blog {
    .blog-block {
        padding: 40px 0 70px 0;
        .map-block {
            display: flex;
            margin: 0 0 16px 0;
            .map__link {
                font-weight: 500;
                font-size: 14px;
                color: #49423D;
                &:not(:last-child) {
                    margin: 0 12px 0 0;
                }
            }
        }
        .title-block {
            .item__name {
            }
            .title {
            }
        }
        .block {
            display: flex;
            flex-direction: column;
            margin: 0;
            .top-block {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 100px;
                .block__text {
                    font-weight: 400;
                    font-size: 20px;
                    color: #49423D;
                    line-height: 36px;
                }
                .search-block {
                    display: flex;
                    & > *:not(:last-child) {
                        margin: 0 30px 0 0;
                    }
                    .search {
                        display: flex;
                        width: 410px;
                        height: 50px;
                        padding: 13px 20px;
                        outline: none;
                        border: 2px solid #f5f5f6;
                        box-sizing: border-box;
                    }
                    .search__button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 190px;
                        height: 50px;
                        background: #8DB338;
                        font-weight: 600;
                        font-size: 14px;
                        color: #fff;
                    }
                }
            }
            .items-block {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -15px;
                .item {
                    flex: 0 0 33.333%;
                    padding: 0 15px;
                    box-sizing: border-box;
                    margin: 0 0 60px 0;
                    .item__image {
                        width: 100%;
                        height: 270px;
                        .image {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .item__text-block {
                        .date {
                            margin-bottom: 16px;
                            font-weight: 400;
                            font-size: 14px;
                            color: #909090;
                            line-height: 22px;
                        }
                        .title-block {
                            height: auto;
                            margin: 0 0 8px 0;
                            .item__title {
                            }
                        }
                        .item__subtitle {
                            height: 44px;
                            font-weight: 400;
                            font-size: 14px;
                            color: #909090;
                            line-height: 22px;
                            margin: 0 0 16px 0;
                        }
                        .item__link {
                            display: flex;
                            align-items: center;
                            .link__text {
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 22px;
                                color: #8DB338;
                            }
                            .icon-block {
                                display: flex;
                                .icon {
                                    transform: rotate(-90deg);
                                }
                            }
                        }
                    }
                }
            }
        }
        .buttons-block {
            display: flex;
            justify-content: center;
            margin: 0;
            .pagination {
                position: relative;
                padding: 0 44px;
                .numbers {
                    position: relative;
                    z-index: 3;
                    display: flex;
                    & > *:not(:last-child) {
                        margin: 0 12px 0 0;
                    }
                    .number {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        font-size: 20px;
                        color: #49423D;
                    }
                    .space {
                    }
                    .active {
                        background: #8DB338;
                        color: #fff;
                    }
                }
                .carousel-buttons {
                    position: absolute;
                    z-index: 2px;
                    top: 8px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin: 0 -44px;
                    .button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 24px;
                        height: 24px;
                        .icon {
                            width: 100%;
                            height: 100%;
                        }
                        .prev {
                        }
                        .next {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
            .button-filter {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 300px;
                height: 40px;
                background: #8DB338;
                font-weight: 600;
                font-size: 14px;
                color: #fff;
                line-height: 24px;
            }
        }
    }
}