/* Gallery */

.list {
    .list-block {
        .map-block {
            .map__link {
            }
        }
        .title-block {
            .item__name {
            }
            .title {
            }
        }
        .block {
            .list__top-block {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                .top-block__text {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 36px;
                    width: 550px;
                    color: #49423D;
                }
                .image-block {
                    width: 690px;
                    height: 400px;
                    .image {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .types {
                display: flex;
                flex-direction: column;
                .type-wrapper {
                    margin: 80px 0 0 0;
                    .type__title-block {
                        display: flex;
                        align-items: flex-end;
                        justify-content: space-between;
                        margin: 0 0 40px 0;
                        .exteriors__title {
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 32px;
                            color: #49423D;
                        }
                        .type {
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 22px;
                            color: #8DB338;
                        }
                    }
                    .type-items {
                        display: flex;
                        margin: 0 -15px;
                        .item {
                            flex: 0 0 33.333%;
                            display: flex;
                            max-height: 410px;
                            padding: 0 15px;
                            box-sizing: border-box;
                            .image {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
        .block_nmargin {
            margin: 0!important;
        }
    }
    .list-block_npadding {
        padding: 40px 0 70px 0;
    }
}

/* Gallery Exteriors */

.list {
    .list-block {
        .map-block {
            .map__link {
            }
        }
        .title-block {
            .item__name {
            }
            .title {
            }
        }
        .block {
            margin: 0 -15px;
            .item__wrapper {
                .item {
                    .image {
                    }
                }
            }
        }
        .buttons-block {
            display: flex;
            justify-content: center;
            .pagination {
                .numbers {
                    .number {
                    }
                    .active {
                    }
                    .space {
                    }
                }
                .carousel-buttons {
                    .button {
                        .icon {
                        }
                        .prev {
                        }
                        .next {
                        }
                    }
                }
            }
        }
        .buttons-sb {
            justify-content: space-between;
        }
    }
}

/* Gallery wrapper */

.gallery-wrapper {
    position: absolute;
    z-index: 11;
    display: none;
    width: 100%;
    min-height: 900px;
    height: 100vh;
    .box {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        .overlay {
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;
            background: #1c1c1c;
            opacity: .7;
        }
        .slider-wrapper {
            position: relative;
            z-index: 3;
            display: flex;
            height: 100%;
            padding: 100px 0;
            box-sizing: border-box;
            overflow: hidden;
            .slider-borders {
                position: absolute;
                display: flex;
                justify-content: space-between;
                z-index: 1;
                width: 100%;
                height: 100%;
                max-height: 700px;
                .border {
                    width: 190px;
                    height: 100%;
                    background: linear-gradient(270deg, #fff, rgba(255, 255, 255, 0));
                }
                .border_to-left {
                    transform: rotate(180deg);
                }
            }
            .slider {
                position: relative;
                display: flex;
                height: 100%;
                padding: 80px 0;
                box-sizing: border-box;
                background: #fff;
                .slider__item {
                    position: relative;
                    width: 850px;
                    height: 540px;
                    margin: 0 30px;
                    .image {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .hidden {
                }
            }
            .close {
                position: absolute;
                top: 130px;
                z-index: 3;
                right: 30px;
                width: 30px;
                height: 30px;
                .icon {
                    width: 100%;
                    height: 100%;
                }
            }
            .slider__buttons {
                position: absolute;
                top: 100px;
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 100%;
                max-height: 700px;
                .button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 60px;
                    height: 60px;
                    background: #fff;
                    .icon {
                    }
                    .prev {
                        transform: rotate(180deg);
                    }
                    .next {
                    }
                }
            }
        }
    }
}