.main {
    flex: 1 1 auto;
}

/* Common */
.title {
    font-weight: 700;
    font-size: 40px;
    color: #49423d;
    margin: 0 0 60px 0;
}
::placeholder {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    color: #909090;
}

/* Sections */

/* hero */

.main-hero {
}
.hero {
    position: relative;
    background: #1c1c1c;
    .background {
        position: absolute;
        z-index: -1;
        right: 0;
        z-index: 0;
        display: flex;
        width: 1145px;
        height: 630px;
        .gradient {
            position: absolute;
            width: 500px;
            height: 100%;
            background: linear-gradient(-90deg, rgba(28, 28, 28, 0), #1c1c1c);
        }
        .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.hero-block {
    position: relative;
    height: 820px;
    .title-block {
        position: relative;
        z-index: 1;
        max-width: 517px;
        padding: 130px 0 0 0;
        color: #fff;
        & > *:not(:last-child) {
            margin: 0 0 20px 0;
        }
        .main-title {
            font-weight: 800;
            font-size: 72px;
            color: inherit;
        }
        .main-subtitle {
            font-weight: 500;
            font-size: 24px;
            color: inherit;
        }
    }
    .button {
        font-weight: 500;
        width: 190px;
        height: 50px;
        color: #49423d;
        background: #f5f5f6;
        font-size: 16px;
        &:first-child {
            font-size: 14px;
            font-weight: 700;
            color: #fff;
            background: #8DB338;
        }
    }
}

.calculation {
    position: absolute;
    width: 100%;
    bottom: 40px;
    background: #fff;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, .05);
    padding: 30px;
    margin: 0 -30px;
}
.buttons-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 50px 0;
    .buttons {
        display: flex;
        & > *:not(:last-child) {
            margin: 0 30px 0 0;
        }
    }
    .search {
        display: flex;
        align-items: center;
        .search-button {
            display: flex;
            margin: 0 12px 0 0;
        }
        .icon {
        }
        .search-name {
            font-size: 14px;
            font-weight: 500;
        }
    }
}
.calculation-block {
    display: flex;
    height: 105px;
    & > *:not(:last-child) {
        margin: 0 30px 0 0;
    }
    .item {
        .name {
            font-weight: 600;
            font-size: 14px;
            color: #49423d;
            margin: 0 0 12px 0;
        }
        .select-wrapper {
            display: flex;
            align-items: center;
            width: 190px;
            height: 40px;
            padding: 8px 8px 8px 16px;
            background: #f5f5f6;
            box-sizing: border-box;
            .select {
                width: 100%;
                border: none;
                outline: none;
                background: transparent;
                font-family: inherit;
                font-weight: 400;
                font-size: 14px;
                .value {
                    
                }
            }
        }
        .panel {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 300px;
            height: 40px;
            padding: 8px 16px;
            background: #f5f5f6;
            box-sizing: border-box;
            margin: 0 0 19px 0;
            .value {
                display: flex;
                align-items: center;
                color: #909090;
            }
            .value_color {
                display: block;
                margin: 0 0 0 8px;
                color: #49423d;
            }
        }
        .slider {
            position: relative;
            display: flex;
            align-items: center;
            height: 12px;
            .range {
                position: relative;
                -webkit-appearance: none;
                width: 100%;
                margin: 0;
                padding: 0;
                &::-webkit-slider-thumb {
                    transform: translateY(-5px);
                    -webkit-appearance: none;
                    width: 12px;
                    height: 12px;
                    background: #8DB338;
                }
                &::-webkit-slider-runnable-track {
                    height: 2px;
                    background: #8DB338;
                }
            }
            .range2 {
                position: absolute;
            }
        }
    }
    .button-block {
        .text {
            font-weight: 600;
            font-size: 14px;
            color: #49423d;
            margin: 0 0 12px 0;
            opacity: 0;
            cursor: default;
        }
        .button {
            height: 40px;
            font-weight: 700;
            font-size: 14px;
            color: #fff;
            background: #8DB338;
        }
    }
}

/* building types */

.building-types {
    .types {
        padding: 80px 0 70px 0;
        box-sizing: border-box;
    }
    .cards-block {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        .card {
            flex: 0 0 20%;
            display: flex;
            height: 312px;
            position: relative;
            padding: 0 15px;
            box-sizing: border-box;
            .cover {
                position: absolute;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 20px;
                box-sizing: border-box;
                .count {
                    font-family: 'Nunito Sans';
                    font-weight: 600;
                    width: 60px;
                    padding: 4px 12px;
                    background: #8DB338;
                    color: #fff;
                    font-size: 20px;
                    box-sizing: border-box;
                }
                .name {
                    font-weight: 700;
                    font-size: 20px;
                    color: #49423d;
                }
            }
            .image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Technologies */

.technologies {
}
.technologies-block {
    padding: 80px 0 70px 0;
    box-sizing: border-box;
    .title {
    }
    .cards-block {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        .card {
            flex: 0 0 33.333%;
            position: relative;
            padding: 0 15px;
            box-sizing: border-box;
            margin: 0 0 30px 0;
            .card-link {
                display: flex;
                .name {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    padding: 0 0 0 20px;
                    font-weight: 600;
                    font-size: 20px;
                    color: #49423d;
                }
                .image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

/* Links */

.links {
}
.links-block {
    padding: 80px 0 70px 0;
    box-sizing: border-box;
    .title {
    }
    .cards-block {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        .card {
            flex: 0 0 20%;
            padding: 0 15px;
            box-sizing: border-box;
            .image-block {
                width: 100%;
                height: 150px;
                .image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .card-links-block {
                padding: 30px 20px;
                height: 360px;
                border: 2px solid #f5f5f6;
                border-top: none;
                box-sizing: border-box;
                .card-title {
                    font-weight: 600;
                    font-size: 16px;
                    margin: 0 0 16px 0;
                }
                .card-links {
                    display: flex;
                    flex-direction: column;
                    & > *:not(:last-child) {
                        margin: 0 0 12px 0;
                    }
                    .link {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 22px;
                        text-decoration: underline;
                        &:hover {
                            color: #8DB338;
                        }
                    }
                }
            }
        }
    }
}

/* Bestsellers */

.bestsellers {
}
.bestsellers-block {
    padding: 80px 0 70px 0;
    box-sizing: border-box;
    .title-block {
        display: flex;
        justify-content: space-between;
        .title {
        }
        .text {
            display: flex;
            align-items: flex-end;
            height: 49px;
            font-weight: 600;
            font-size: 20px;
            color: #8DB338;
        }
    }
}
.gallery {
    position: relative;
    .carousel {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        margin-bottom: 40px;
        .item {
            flex: 0 0 20%;
            display: flex;
            flex-direction: column;
            padding: 0 15px;
            box-sizing: border-box;
            .item-image {
                position: relative;
                display: flex;
                width: 100%;
                .item__cover {
                    position: absolute;
                    display: flex;
                    opacity: 0;
                    justify-content: space-between;
                    width: 100%;
                    height: 100%;
                    padding: 12px;
                    box-sizing: border-box;
                    transition: .4s ease-in-out;
                    .item_button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 32px;
                        height: 32px;
                        padding: 6px;
                        background: #fff;
                        box-sizing: border-box;
                        .icon {
                        }
                    }
                }
                .image {
                }
            }
            &:hover .item__cover {
                opacity: 1;
            }
            .text-block {
                border: 2px solid #f5f5f6;
                border-top: none;
                padding: 30px 15px;
                box-sizing: border-box;
                .item__title {
                    display: block;
                    font-weight: 600;
                    font-size: 16px;
                    margin: 0 0 20px 0;
                }
                .item__text-block {
                    margin: 0 0 20px 0;
                    & > *:not(:last-child) {
                        margin: 0 0 8px 0;
                    }
                    .item__text {
                        font-weight: 400;
                        font-size: 14px;
                        color: #909090;
                    }
                }
                .price {
                    color:#8DB338;
                    font-weight: 700;
                    font-size: 20px;
                }
                .count {
                }
            }
        }
    }
    .current-image {
        display: flex;
        justify-content: center;
        & > *:not(:last-child) {
            margin: 0 20px 0 0;
        }
        .mark {
            display: block;
            width: 20px;
            height: 20px;
            background: #f5f5f6;
        }
        .active {
            background: #8DB338;
        }
    }
    .gallery-buttons {
        position: absolute;
        top: 204.5px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        & > *:first-child {
            left: -70px;
        }
        & > *:last-child {
            right: -70px;
        }
        .gallery-button {
            position: absolute;
            display: flex;
            .icon_left {
                transform: rotate(180deg);
            }
            .icon {
            }
        }
    }
}

/* benefits */

.benefits {
    position: relative;
    height: 796px;
    padding: 106px 0 0 0;
    .background {
        position: absolute;
        bottom: 0;
        z-index: -1;
        display: flex;
        width: 100%;
        height: 796px;
        .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.benefits-block {
    position: relative;
    box-sizing: border-box;
    .title {
    }
    .cards-block {
        display: flex;
        flex-wrap: wrap;
        .card {
            display: flex;
            align-items: center;
            margin: 0 36px 40px 0;
            & > *:not(:last-child) {
                margin: 0 24px 0 0;
            }
            .number {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 80px;
                height: 80px;
                font-weight: 700;
                font-size: 64px;
                padding: 1px 27px;
                box-sizing: border-box;
                color: #fff;
                background: #8DB338;
            }
            .card_text-block {
                .card__title {
                    font-weight: 600;
                    font-size: 20px;
                    color: #49423d;
                    margin: 0 0 4px 0;
                }
                .card__text {
                    width: 300px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22px;
                    color: #49423d;
                }
            }
        }
    }
}
.log-block {
    position: absolute;
    top: 109px;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    .image-block {
        display: flex;
        align-items: center;
        justify-content: center;
        .logo {
            position: absolute;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 40px;
            color: #49423d;
        }
        .image {
        }
    }
}

/* Form */

.form {
    background: linear-gradient(102deg, #8DB338, #739A1D)
}
.form-block {
    display: flex;
    padding: 80px 110px 80px;
    & > *:not(:last-child) {
        margin: 0 141px 0 0;
    }
    .form-wrapper {
        display: flex;
        flex-direction: column;
        background: #fff;
        padding: 30px;
        & > *:not(:last-child) {
            margin: 0 0 20px 0;
        }
        .form__input {
            display: flex;
            width: 350px;
            padding: 9px 16px;
            height: 40px;
            border: none;
            outline: none;
            background: #f5f5f6;
            box-sizing: border-box;
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 14px;
            color: #49423d;
        }
        .textarea {
            min-width: 350px;
            max-width: 350px;
            min-height: 120px;
            max-height: 120px;
        }
        .button-add {
            display: flex;
            align-items: center;
            width: 168px;
            height: 24px;
            .icon-block {
                display: flex;
                margin: 0 8px 0 0;
                .icon {
                }
            }
            .button__text {
                font-weight: 400;
                font-size: 14px;
                color: #49423d;
            }
        }
        .button-send {
            width: 100%;
            height: 40px;
            font-weight: 700;
            font-size: 14px;
            color: #fff;
            background: #8DB338;
        }
        .media-block {
            display: flex;
            justify-content: center;
            & > *:not(:last-child) {
                margin: 0 30px 0 0;
            }
            .link {
                display: flex;
                .icon {
                }
            }
        }
    }
    .text-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        & > *:not(:last-child) {
            margin: 0 0 20px 0;
        }
        .title, .subtitle {
            color: inherit;
        }
        .subtitle {
            font-weight: 400;
            font-size: 20px;
            color: #f5f5f6;
            line-height: 32px;
        }
    }
}

/* Service */

.service {
}
.service-block {
    padding: 150px 0 70px 0;
    .title {
    }
    .block {
        display: flex;
        justify-content: space-between;
        .text-block {
            max-width: 590px;
            .text {
                font-weight: 400;
                font-size: 16px;
                color: #49423d;
                line-height: 28px;
                &:not(:last-child) {
                    margin: 0 0 15px 0;
                }
            }
            .text__bold {
                font-weight: 600;
            }
            .button {
                width: 300px;
                height: 40px;
                font-weight: 700;
                font-size: 14px;
                color: #fff;
                background: #8DB338;
                margin: 40px 0 0 0;
            }
            margin: 0 70px 0 0;
        }
        .image-block {
            width: 630px;
            height: 630px;
            .image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Partners */

.partners {
}
.partners-block {
    padding: 80px 0 70px 0;
    .title {
    }
    .block {
        & > *:not(:last-child) {
            margin: 0 0 60px 0;
        }
        .partner-block {
            .title-block {
                display: flex;
                justify-content: space-between;
                margin: 0 0 30px 0;
                .subtitle {
                }
                .subtitle__all {
                    display: flex;
                    align-items: flex-end;
                    font-weight: 500;
                    font-size: 14px;
                    color: #8DB338;
                }
            }
            .cards-block {
                display: flex;
                margin: 0 -15px;
                .card-wrapper {
                    flex: 0 0 33.333%;
                    padding: 0 15px;
                    box-sizing: border-box;
                    .card {
                        display: flex;
                        align-items: center;
                        padding: 20px;
                        background: #f5f5f6;
                        .card__text {
                            margin: 0 55px 0 0;
                            & > *:not(:last-child) {
                                margin: 0 0 8px 0;
                            }
                            .card__title, .card__subtitle {
                                color: #575757;
                            }
                            .card__title {
                                font-weight: 600;
                                font-size: 18px;
                            }
                            .card__subtitle {
                                font-weight: 400;
                                font-size: 14px;
                            }
                        }
                        .image-block {
                            .photo {
                            }
                        }
                    }
                }
            }
        }
    }
    .button-block {
        display: flex;
        justify-content: center;
        margin: 60px 0 0 0;
        .button {
            width: 300px;
            height: 40px;
            font-weight: 700;
            font-size: 14;
            color: #fff;
            background:  #8DB338;
        }
    }
}

/* Shop */

.shop {
}
.shop-block {
    padding: 80px 0 40px 0;
    .title {
    }
    .block {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        & > *:first-child {
            flex: 0 0 40%;
        }
        & > *:nth-child(2), :nth-child(3), :nth-child(4), :nth-child(5), :nth-child(6), :nth-child(7) {
            flex: 0 0 20%;
        }
        & > *:last-child {
            flex: 0 0 40%;
        }
        .item-wrapper {
            padding: 0 15px;
            box-sizing: border-box;
            margin: 0 0 30px 0;
            .item {
                position: relative;
                .image-block {
                    width: 100%;
                    height: 340px;
                    .image {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .item__name {
                    position: absolute;
                    bottom: 0;
                    display: flex;
                    height: 56px;
                    padding: 20px;
                    font-weight: 700;
                    font-size: 20px;
                    color: #494949;
                }
            }
        }
    }
}

/* Blog */

.blog {
}
.blog-block {
    padding: 80px 0 70px 0;
    .title-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 60px 0;
        .title {
            margin: 0;
        }
        .all__blogs {
            display: flex;
            align-items: flex-end;
            height: 49px;
            font-weight: 600;
            font-size: 20px;
            color: #8db338;
        }
    }
    .block {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        .item {
            flex: 0 0 20%;
            display: flex;
            flex-direction: column;
            padding: 0 15px;
            box-sizing: border-box;
            .item__image {
                display: flex;
                width: 234px;
                height: 234px;
                .image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .item__text-block {
                height: 100%;
                padding: 30px 20px;
                box-sizing: border-box;
                border: 1px solid #f5f5f6;
                border-top: none;
                .title-block {
                    display: flex;
                    align-items: flex-start;
                    height: 48px;
                    margin: 0 0 8px 0;
                }
                .item__title {
                    font-weight: 600;
                    font-size: 16px;
                    color: #49423d;
                }
                .item__subtitle {
                    font-weight: 400;
                    font-size: 14px;
                    color: #909090;
                }
            }
        }
    }
}

/* Reviews */

.reviews {
}
.reviews-block {
    padding: 80px 0 70px 0;
    .title-block {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin: 0 0 60px 0;
        .title {
            margin: 0;
        }
        .all__reviews {
            font-weight: 600;
            font-size: 20px;
            color: #8db338;
        }
    }
    .block {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        .item {
            flex: 0 0 20%;
            padding: 0 15px;
            box-sizing: border-box;
            .item__image {
                position: relative;
                display: flex;
                height: 360px;
                .cover {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, .4);
                    opacity: 0;
                    transition: .3s ease-in-out;
                    .button-play {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 80px;
                        height: 80px;
                        background: #8db338;
                        .icon {
                            transform: translateX(3px);
                        }
                    }
                }
                .image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &:hover .cover {
                opacity: 1;
            }
            .item__text-block {
                display: flex;
                flex-direction: column;
                padding: 30px 20px;
                border: 1px solid #f5f5f6;
                border-top: none;
                .title-block {
                    margin: 0 0 8px 0;
                    .item__title {
                        font-weight: 600;
                        font-size: 16px;
                        color: #49423d;
                    }
                }
                .item__subtitle {
                    font-weight: 400;
                    font-size: 14px;
                    color: #909090;
                }
            }
        }
    }
}