/* Log in / Sign up */

.login-wrapper {
    position: absolute;
    z-index: 8;
    top: -900px;
    width: 100%;
    height: 100%;
    background: #fff;
    min-height: 820px;
    max-height: calc(100vh - 80px);
    transition: .5s ease-in-out;
    .text-modal {
        position: absolute;
        top: 114px;
        left: 53%;
        z-index: 3;
        display: none;
        width: 400px;
        .modal-block {
            position: relative;
            .text-block {
                position: relative;
                z-index: 2;
                background: #fff;
                padding: 20px;
                box-sizing: border-box;
                box-shadow: 0 10px 50px rgba(0, 0, 0, .05);
            }
            .pointer {
                position: relative;
                z-index: 3;
                top: -7px;
                left: 85%;
                display: flex;
                width: 0;
                // background: #fff;
                // transform: rotate(45deg);
                border: 20px solid transparent; 
                border-top: 30px solid #fff;
            }
        }
    }
    .login {
        display: flex;
        justify-content: space-evenly;
        min-height: 820px;
        .block {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 410px;
            .login-buttons {
                display: flex;
                .button {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 205px;
                    height: 50px;
                    font-weight: 500;
                    font-size: 16px;
                    color: #49423d;
                }
                .button-active {
                    position: absolute;
                    top: 0;
                    display: none;
                    width: 100%;
                    height: 4px;
                    background: #8db338;
                }
                .active {
                    font-weight: 600;
                    background: #f5f5f6;
                    .button-active {
                        display: flex;
                    }
                }
            }
            .login-box {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 100%;
                min-height: 444px;
                padding: 30px;
                box-sizing: border-box;
                background: #f5f5f6;
                & > *:not(:last-child) {
                    margin-bottom: 30px;
                }
                .input-block {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    .label {
                        font-weight: 600;
                        font-size: 14px;
                        color: #8DB338;
                        margin-bottom: 12px;
                    }
                    .input {
                        width: 100%;
                        height: 50px;
                        border: none;
                        outline: none;
                        padding: 13px 16px;
                        box-sizing: border-box;
                        font-family: inherit;
                        font-size: 16px;
                        color: #49423d;
                        ::placeholder {
                            color: #909090;
                        }
                    }
                }
                .email {
                }
                .password {
                }
                .btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 600;
                    font-size: 14px;
                    color: #fff;
                    background: #8DB338;
                }
                .button__log-in {
                    width: 100%;
                    height: 50px;
                }
                .registration-button {
                    display: block;
                    margin: 0 auto 30px;
                    font-weight: 500;
                    background: transparent;
                    color: #8DB338;
                }
                .media {
                    display: flex;
                    justify-content: center;
                    & > *:not(:last-child) {
                        margin: 0 30px 0 0;
                    }
                    .social {
                        display: flex;
                        width: 36px;
                        height: 36px;
                        .icon {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .block_login {
                display: none;
                opacity: 0;
                transition: .3s ease-in-out;
            }
            .active {
                display: flex;
                opacity: 1;
            }
            .title {
                font-weight: 400;
                font-size: 32px;
                color: #1c1c1c;
                text-transform: uppercase;
                margin: 0 0 30px 0;
            }
            .bold {
                margin-left: 20px;
                font-weight: 700;
                color: #8DB338;
            }
            .buttons-block {
                display: flex;
                flex-direction: column;
                width: 410px;
                background: #f5f5f6;
                padding: 30px;
                box-sizing: border-box;
                & > *:not(:last-child) {
                    margin-bottom: 30px;
                }
                .button {
                    width: 100%;
                    height: 50px;
                    background: #8DB338;
                    font-weight: 600;
                    font-size: 14px;
                    color: #fff;
                }
            }
        }
    }
}
.signup-wrapper {
}

/* Registration */

.registration {
    display: none;
    position: absolute;
    top: 80px;
    z-index: 8;
    width: 100%;
    height: 100%;
    background: #fff;
    .container {
        height: 100%;
    }
    .registration-block {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-top: -80px;
        .block {
            display: flex;
            flex-direction: column;
            width: 410px;
            .title {
                font-weight: 700;
                font-size: 32px;
                color: #8db338;
                text-align: center;
                margin: 0 0 22px 0;
            }
            .subtitle {
                font-weight: 600;
                font-size: 20px;
                color: #49423d;
                text-align: center;
                margin: 0 0 40px 0;
            }
            .inputs-block {
                display: flex;
                flex-direction: column;
                .email {
                }
                .input {
                    width: 100%;
                    height: 50px;
                    border: 0;
                    outline: 0;
                    padding: 13px 16px;
                    margin: 0 0 30px 0;
                    box-sizing: border-box;
                    font-family: inherit;
                    font-weight: 400;
                    font-size: 14px;
                    color: #49423d;
                    background: #f5f5f6;
                    ::placeholder {
                        font-weight: 400;
                        font-size: 14px;
                        color: #909090;
                    }
                }
                .password {
                }
                .registration-submit {
                    height: 50px;
                    background: #8DB338;
                    color: #fff;
                    font-weight: 600;
                    font-size: 14px;
                }
            }
        }
    }
}

/* Feedback */

.feedback {
    display: none;
    .container {
    }
    .registration-block {
        margin: 0;
        .block {
            .title {
            }
            .subtitle {
            }
            .name {
            }
            .email {
            }
            .phone {
            }
            .input {
                ::placeholder {
                }
            }
            .message {
                height: 160px;
                resize: none;
            }
            .attach-button {
                display: flex;
                align-items: center;
                height: 24px;
                margin-bottom: 30px;
                .icon-block {
                    display: flex;
                    margin-right: 8px;
                    .icon {
                    }
                }
                .attach-text {
                }
            }
            .registration-submit {
            }
        }
    }
}

.menu_active {
    display: block;
    top: 80px;
}